.contact-outside {
    display: relative;

    width: 100%;
    aspect-ratio: 3/1;

    background-color: aqua;
}


div#centre-outside {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    min-height: 95vh;
}

div#centre-inside {
    display: inline-flex;

    width: 95dvw;
    min-height: 75dvh;
    height: 75dvh;
    
}

div#info-box {
    display: inline-flex;
    align-content: center;

    width: 60dvw;

    margin: 3dvh 3dvh 3dvw 3dvw;
    padding: 2dvw;

    background: rgba(20,20,20,0.3);
    border-radius: 3dvw;  
}


div#input-box {
    align-content: center;
    justify-content: center; 

    width: 30dvw;

    margin: 3dvh 3dvw 3dvh 3dvw;
    padding: 2dvw;

    background: rgba(20,20,20,0.3);
    border-radius: 3dvw;   
}

label {
    float: left;
    
    margin: 1dvh 0dvh 0.3dvh 1dvw;

    font-size: 2dvh;
    text-align: left;
}


input[type="text"] {
    width: 27dvw;
    
    margin: 0 0 0 0;
    padding: 0.5dvw;
    
    border-radius: 1dvw;

    font-size: 2.5dvh;
    color:black;
}

input[type="text"]#first-name {
    width: 13dvw;
}

input[type="text"]#last-name {
    width: 13dvw;
}

input[type="submit"] {
    float: right;

    width: 8dvw;
    height: 4dvh;

    font-size: 3dvh;

}

textarea#message-box {
    width: 27dvw;
    height: 25dvh;
    
    max-width: 27dvw;
    max-height: 25dvh;
    
    padding: 0.5dvw;
    
    border-radius: 1dvw;

    font-size: 2.5dvh;
    color:black;
}

