* {
    margin: 0;
    padding: 0;

    color: white;
    font-size: 4dvh;
    font-family: Tahoma, sans-serif;
}

html, body {
    min-height: 100dvh;
    height: 100dvh;
    width: 100dvw;
    overflow-x: hidden;
}

body {
    overflow: auto;
    background: #111154;
    background-repeat: no-repeat;
}

div.page {

    background: radial-gradient(at 18% 99%, rgb(18, 1, 65) 0px, transparent 50%) repeat scroll 0% 0%, 
            radial-gradient(at 97% 8%, rgb(4, 72, 145) 0px, transparent 50%) repeat scroll 0% 0%, 
            radial-gradient(at 79% 82%, rgb(24, 5, 66) 0px, transparent 50%) repeat scroll 0% 0%,
            radial-gradient(at 96% 10%, rgb(1, 8, 49) 0px, transparent 50%) repeat scroll 0% 0%,    
            radial-gradient(at 42% 20%, rgb(2, 7, 68) 0px, transparent 50%) repeat scroll 0% 0%,
            radial-gradient(at 4% 49%, rgb(72, 3, 175) 0px, transparent 50%) repeat scroll 0% 0%;
            
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    overflow-y: scroll;
    
}