* {
    margin: 0;
    padding: 0;

    color: white;
    font-size: 4dvh;
    font-family: Tahoma, sans-serif;
}

html, body {
    min-height: 100dvh;
    width: 100dvw;
    overflow-x: hidden;
}

body {
    background: #BAB8A4
}

div.page {
    justify-content: center;
}