div#about-outside {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    width: 100dvw;
    min-height: 95vh;

    text-align: center;
}

div#about-inside {
    display: inline-flex;

    width: 80dvw;
    height: 75dvh;

    border: hotpink solid 5px;
}

div#contents-item { 
    width: 100px;
    height: 300px;
}

div#content-item:hover {
    filter: blur(0.5px);

}
