html, body {
    overflow-y: hidden;
}

div#about-outside {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    width: 100dvw;
    min-height: 95vh;

    text-align: center;
}

div#about-inside {
    display: inline-flex;

    width: 80dvw;
    height: 75dvh;

    border: hotpink solid 5px;
}

div#about-left {
    display: inline-flex;

    align-content: center;
    justify-content: center;

    width: 32dvw;;

}

div#about-image {
    align-content: center;
    justify-content: center;

    width: 25dvw;

}

div#about-image img{
    width: 25dvw;
    aspect-ratio: 3/4;
    object-fit: cover;

    border: #222 solid 0.5dvw;
    border-radius: 10dvw;
}


div#about-right {
    display: inline-flex;
    flex-direction: column;
    align-content: center;

    width: 48dvw;
    
}


div#about-title {
    align-content: center;

    height: 15dvh;

    font-size: 8dvh;
}


div#about-info {
    height: 40dvh;

    padding: 1dvw;

    text-align: left;
    font-size: 2.4dvh;
}

div#about-links-bar {
    display: inline-flex;
    flex-direction: row;

    width: 48dvw;
    height: 20dvh;
}
