/* Top of Page Navbar */
div#navbar {
    height:5dvh;
    text-align:center;

    overflow: hidden;
}

ul {
    list-style-type:None;
    display:inline-block;

    width: 100%;

    margin:0;
    padding:0;
    
    overflow:hidden;
    background: rgba(255,255,255,1);
}

li.left {
    float:left;
}

li.right {
    float:right;
}

li a {
    display:inline-block;
    
    padding:14px 16px;
    
    color:black;
    font-size:3dvh;
    text-align:center;
    text-decoration:none;    
}

li a:hover {
    background: rgba(0,0,0,0.3);
}

div#seperation {
    height:20px;
}