<!DOCTYPE html>
<html>

    <head>
        <title> Homepage </title>
        <link rel="icon" href="{{url_for('static', filename='images/favicons/felix-512x512.png')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/generic.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/homepage.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/art-display.css')}}">

    </head>

    <body>
        <div class="page">

            <div>
                {% include "navbar.html" %}
            </div>

            <div class="art-board">

                <div class="art-board-row">
                    <div class="art-container-top">
                        
                    </div>

                    <div class="art-container-bottom">
                        
                    </div>

                    <div class="art-container-top">
                        
                    </div>
                </div>

                
                <div class="art-board-row">
                    <div class="art-container-top">
                        
                    </div>

                    <div class="art-container-bottom">
                        
                    </div>

                    <div class="art-container-top">
                        
                    </div>
                </div>

            </div>

        </div>

    </body>

</html>