<!DOCTYPE html>
<html>

    <head>
        <title> Homepage </title>
        <link rel="icon" href="{{url_for('static', filename='images/favicons/felix-512x512.png')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/generic.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/homepage.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/art-display.css')}}">

    </head>

    <body>
        <div class="page">

            <div>
                {% include "navbar.html" %}
            </div>

            <div class="art-board">

                <div class="art-board-row">
                    <!--Project 1-->
                    <div class="art-container-top">

                        <div class="art-image">
                            <img src="{{url_for('static',filename='images/Project4/project4-image1.jpg')}}">
                        </div>

                        <div class="art-image">
                            <img src="{{url_for('static',filename='images/Project4/project4-image2.jpg')}}">
                        </div>

                        <div class="art-image">
                            <img src="{{url_for('static',filename='images/Project4/project4-image3.jpg')}}">
                        </div>

                        <div class="overlay">Project 1</div>
                    </div>

                    <!--Project 2-->
                    <div class="art-container-bottom">
                        <div class="art-image">
                            <img src="{{url_for('static',filename='images/Project3/project3-image1.jpg')}}">
                        </div>

                        <div class="art-image">
                            <img src="{{url_for('static',filename='images/Project3/project3-image2.jpg')}}">
                        </div>

                        <div class="art-image">
                            <img src="{{url_for('static',filename='images/Project3/project3-image3.jpg')}}">
                        </div>

                        <div class="overlay">Project 2</div>
                    </div>

                    <!--Project 3-->
                    <div class="art-container-top">
                        
                        <div class="art-image">
                            <img src="{{url_for('static',filename='images/Project2/project2-image1.jpg')}}">
                        </div>

                        <div class="art-image">
                            <img src="{{url_for('static',filename='images/Project2/project2-image2.jpg')}}">
                        </div>

                        <div class="art-image">
                            <img src="{{url_for('static',filename='images/Project2/project2-image3.jpg')}}">
                        </div>

                        <div class="overlay">Project 3</div>
                    </div>
                </div>


                <div class="art-board-row">

                    <!--Project 4-->
                    <div class="art-container-top">
                        <div class="art-image">
                            <img src="{{url_for('static',filename='images/Project1/project1-image1.jpg')}}">
                        </div>

                        <div class="art-image">
                            <img src="{{url_for('static',filename='images/Project1/project1-image2.jpg')}}">
                        </div>

                        <div class="art-image">
                            <img src="{{url_for('static',filename='images/Project1/project1-image3.jpg')}}">
                        </div>

                        <div class="overlay">Project 4</div>
                    </div>

                    <div class="art-container-bottom">
                        
                    </div>

                    <div class="art-container-top">
                        
                    </div>
                </div>

                <a id="Contact"></a>

            </div>

            <div>
                {% include "contact.html" %}
            </div>

        </div>

    </body>

</html>